!!!
%html
  %head
    %title Perfect
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag 'perfectfav.ico'
    %link{href: "https://fonts.googleapis.com/css?family=Montserrat+Alternates", rel: "stylesheet", type: "text/css"}/
    %script{src: 'https://checkout.stripe.com/checkout.js'}
    =render :partial => 'layouts/meta_content'
  %body
    -flash.each do |key, value|
      %div{class: "flash #{key}"}=value
    .flash.js
    = yield
    =# javascript_include_tag "bottom"